@font-face {
    font-family: Inter-Variable;
    src:
      local('Inter-Variable'),
      url(./InterVariable.woff2)
      format('woff2 supports variations'),
      url(./InterVariable.woff2) format('woff2-variations');
    font-display: swap;
    font-weight: 400 500 600 700;
  }