.header {
  padding: 16px 32px;
  background-color: #043873;
  display: grid;
  position: relative;
  grid-template-columns: min-content 1fr;
  align-items: center;
}

.header__logo {
  display: block;
  text-decoration: none;
  width: 191px;
  height: 34px;
}

.header__logo-image {
  height: 100%;
}

.header__menu-container {
  display: flex;
  justify-content: space-between;
  gap: 75.5px;
  justify-self: end;
  align-items: center;
}

.header__menu-list {
  display: flex;
  gap: 32px;
  list-style-type: none;

}

.header__menu-list-link {
  font-family: DM-Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 128%;
  color: #fff;
  display: block;
  cursor: pointer;
}

.header__menu-list-link::after {
  content: url(../images/menu_arrow.svg);
  display: inline-block;
  margin-left: 10px;
  width: 9px;
  height: 4px;
  transform: translateY(-100%);
  margin-left: 6px;
}

.button {
  cursor: pointer;
  border: none;
}

.button-decor {
  background-color: #4f9cf9;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: #fff;
}

.button-decor::after {
  content: url(../images/arrow.svg);
  margin-inline-start: 10px;
  width: 10px;
  height: 10px;
}

.header__menu-buttons {
  display: flex;
  gap: 24px;
}

.header__menu-login-button {
  width: 126px;
  height: 60px;
  border: none;
  border-radius: 8px;
  background-color: #ffe492;
  color: #043873;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 128%;
  letter-spacing: -0.02em;
  padding: 16px 40px;
}

.header__menu-try-button {
  min-width: 227px;
  height: 60px;
  padding: 16px 24px;
  border: none;
  background-color: #4f9cf9;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 128%;
  letter-spacing: -0.02em;
  color: #fff;
}

.cover {
  display: grid;
  grid-template-columns: 1fr 685px;
  padding: 100px 32px;
  position: relative;
  background-image: url(../images/Elemen-test.svg);
  background-repeat: no-repeat;
  background-position-y: 152px;
  background-color: #043873;
}

.cover__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  gap: 60px;
  margin: 47.69px 0;
}

.cover__description-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  gap: 24px;
}

.cover__title {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #fff;
}

.cover__description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: -0.01em;
  color: #fff;
}

.image__workpiece {
  background-color: #a7cefc;
}

.cover__try-button {
  width: 219px;
  height: 63px;
  background-color: #4f9cf9;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: #fff;
  border-radius: 8px;
}

.section-bright {
  background-color: #fff;
  color: #212529;
}

.section-dark {
  background-color: #043873;
  color: #fff;
}

.section__title {
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 0;
}

.card-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: -0.01em;
}

.preferences {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 140px 32px;
  gap: 100px;
}

.preferences__card-management {
  display: grid;
  grid-template-columns: 1fr 719px;
}

.preferences__card-management-description {
  align-self: center;
}

.preferences__card-management-description-text {
  margin-block-start: 24px;
}

.preferences__card-management-description-button {
  width: 201px;
  height: 63px;
  margin-block-start: 60px;
}

.preferences__card-image-workpiece {
  height: 448px;
  background-color: #a7cefc;
}

.preferences__card-work {
  display: grid;
  grid-template-columns: 583px 1fr;
  gap: 160px;
}

.preferences__card-work-image-container {
  height: 542.76px;
}

.preferences__card-work-image {
  height: 100%;
}

.preferences__card-work-description {
  align-self: center;
}

.title-decor {
  display: inline-block;
  position: relative;
}

.title-decor::after {
  content: '';
  rotate: 0.15deg;
  position: absolute;
  background-image: url(../images/underline.svg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  width: 100%;
  display: block;
  height: 25.55px;
  left: 0;
  right: 0;
  bottom: -4px;
}

.preferences__card-work-description-text {
  margin-block-start: 24px;
}

.preferences__card-work-button {
  min-width: 186px;
  min-height: 63px;
  margin-block-start: 60px;
}

.extension {
  padding: 140px 32px;
  display: grid;
  grid-template-columns: 1fr 686px;
  gap: 98px;
}

.extension__container {
  margin: 49px 0;
}

.extension__description-container {
  margin-block-start: 24px;
}

.extension__button {
  margin-block-start: 60px;
  inline-size: 176px;
  block-size: 63px;
}

.customise {
  padding: 140px 32px;
  display: grid;
  grid-template-columns: 670px 1fr;
  gap: 60px;
}

.customise__container {
  margin: 46.15px 0;
}

.customise__description-container {
  margin-block-start: 24px;
}

.customise__button {
  margin-block-start: 60px;
  inline-size: 164px;
  block-size: 59px;
}
